VITE_GOOGLE_FORM_CONTACT=
VITE_GOOGLE_FORM_BRAILLE_USERS=
VITE_GOOGLE_FORM_TEACHERS=
VITE_SITE_URL=https://acubed.design
VITE_SITE_TITLE=A Cubed Design
VITE_SITE_DESCRIPTION=Tackling the braille literacy crisis by making it easier for blind individuals to acquire braille displays
